global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['host.docker.internal:9100']

  - job_name: 'postgres_exporter'
    static_configs:
      - targets: ['host.docker.internal:9187']

  - job_name: 'custom_exporter'
    scrape_interval: 15s
    static_configs:
      - targets: ['host.docker.internal:8000']  # custom exporter (CoinGecko)


